%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-vertical' }) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :first_name, autofocus: true
  = f.input :last_name
  = f.input :email, required: true
  = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
  = f.input :password_confirmation, required: false
  = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
  = f.button :submit, 'Update', class: 'btn-primary'

%h3 Subscription Plan
%p
  = @user.roles.first.name.titleize
  = link_to 'Change Plan', '#plan-options', class: 'btn btn-mini', data: {toggle: 'modal'}

%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-mini'}.

%h3 Card
%p
  Need to use a different card?
  = link_to 'Change Card', "https://#{RECURLY_SUBDOMAIN}.recurly.com", class: 'btn btn-mini'

#plan-options.modal{style: 'display:none'}
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: 'form-horizontal'} do |f|
    .modal-header
      = link_to '&#215;'.html_safe, '#', class: 'close', data: {dismiss: 'modal'}
      %h3 Change Plan

    .modal-body
      = f.input :role_ids, collection: Role.all.delete_if {|i| i.name == 'admin'}, as: :radio_buttons, label_method: lambda {|t| t.name.titleize}, label: false, item_wrapper_class: 'inline', checked: resource.role_ids.first

    .modal-footer
      = f.submit 'Change Plan', class: 'btn btn-primary'
      = link_to 'Close', '#', class: 'btn', data: {dismiss: 'modal'}